.campsiteList {
  display: inline-block;
  float: right;
  width: 76%;
  min-height: 500px;
  padding-left: 5px;
  height: 100%;
  border-right: 3px rgb(86, 144, 58) solid;
}

.campsite {
  display: block;
  width: 100%;
  min-height: 100px;
  height: 100%;
  border-bottom: 3px rgb(86, 144, 58) solid;
}

.name{
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}