.campsiteList {
  display: inline-block;
  float: right;
  width: 76%;
  min-height: 500px;
  padding-left: 5px;
  height: 100%;
  border-right: 2px black solid;
}

.campsite {
  display: block;
  width: 100%;
  min-height: 100px;
  height: 100%;
  border-bottom: 2px black solid;
}