html, body {
  height: 100%; /* IMPORTANT!!! Stretches viewport to 100% */
}
.NavBar {
  display: inline-block;
  width: 23%;
  /* min-height: 100%; */
  border-right: 3px rgb(86, 144, 58) solid;
  border-left: 3px rgb(86, 144, 58) solid;
  min-height: 100%; /* Minimum height for a modern browser */
  height:auto !important; /* Important rule for a modern browser */
  height:100%; /* Minimum height for Internet Explorer */
  overflow: hidden !important; /* Firefox scroll-bar */
}

.heading {
  font-size: 25px;
  padding: 5px;
  color :rgb(186, 229, 249);
  font-weight: 300;
}

.input {
  margin: 5px;
  height: 30px;
  width: 50%;
}

.search {
  margin-left: 5px;
  height: 30px;
  width: 52%;
  border-radius:5px;
}